name: Build geoip files
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 4"
  push:
    branches:
      - master
    paths-ignore:
      - ".gitignore"
      - "LICENSE*"
      - "*.md"
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codebase
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod

      - name: Set variables
        run: |
          echo "TAG_NAME=$(date +%Y%m%d%H%M)" >> $GITHUB_ENV
          echo "RELEASE_NAME=$(date +%Y%m%d%H%M)" >> $GITHUB_ENV
        shell: bash

      - name: Build geoip files
        run: |
          go build ./
          ./geoip convert -c ./config.json

      - name: Zip output directory
        run: |
          for proto in ipv4 ipv6; do
            echo "protocol static geoip_$proto {" > ./output/$proto.conf
            echo "$proto;" >> ./output/$proto.conf
            cat ./output/$proto/*.conf >> ./output/$proto.conf
            echo "}" >> ./output/$proto.conf
          done
          
          zip -r output.zip output/*.conf
        shell: bash

      - name: Upload files to GitHub release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file_glob: true
          file: ./output.zip
          release_name: ${{ env.RELEASE_NAME }}
          tag: ${{ env.TAG_NAME }}
